<h1>Restaurants:</h1>
<% @restaurants.each do |restaurant| %>
<h2><%= restaurant.name %></h2>
<ol>
  <li><%= restaurant.address %></li>
  <li><%= restaurant.phone_number %></li>
  <li><%= restaurant.category %></li>
</ol>



<% end %>
